


<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
  
  <h5 class="my-0 mr-md-auto font-weight-normal text-light"><img src="{{user.profileuser.image.url}} " width="40" height="40"class="rounded-circle" ></h5>
  

  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-light" href="#">รหัสพนักงาน:{{ user.username}} </a>
    
    <a class="p-2 text-light" href="#">ตำแหน่ง:{{user.profileuser.position}} </a>
    <a class="p-2 text-light" href="#">ชื่อ: {{ user.profileuser.nickname }}</a>
  </nav>
  <a class="btn btn-danger" href="/logout">Sign  out</a>

</div>