{% extends 'base/layout.html' %}

{% block title %} Stock Page {% endblock title%}




{% block content %}

<div class="container-fluid" style="margin-top: 15px;">
    <form method="POST">
      {% csrf_token %}      
        <div class="row">

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">ชื่อสินค้า</span>
                  </div>
                  <input type="text" class="form-control">
                </div>


                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">รูปภาพ</span>
                    </div>
                    <input type="text" class="form-control">
                </div>
              
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">รายละเอียด</span>
                    </div>
                    <input type="text" class="form-control">
                </div>
              
                
              
              
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">ผู้เบิกสินค้า</span>
                  </div>
                  <input type="text" class="form-control">
                </div>
              
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">ผู้จ่ายสินค้า</span>
                  </div>
                  <input type="text" class="form-control">
                </div>
              
              
                <button type="submit" class="btn btn-success btn-bg btn-block">บันทึกข้อมูล</button>
              
            </form>

</div>
{% endblock content %}



