{% extends 'base/layout.html' %}
{% load crispy_forms_tags %}
{% block title %} Stock Page {% endblock title%}

{% block content%}

<div class="container-fluid">
	{% include 'html_stock/base_stock.html'%}

	<div class="row">
		<div class="col-md-12 ">
			<div class="card border">
			  <div class="card-body bg-dark text-light">
				<h4>ค้นหาข้อมูล</h4>
				<form method="GET" action="#">
				{% csrf_token %}
				{{ filter }}
					<button type="submit" class="btn btn-primary">ค้นหาข้อมูล</button>
					<a class="btn btn-secondary " href="#"> Refrest </a>
				
				</form>
			  </div>
			</div>
		</div>

	
		<div class="col-sm-4 p-3 ">
			
			<div class="card border p-3 bg-dark text-light">
				<h4>เพิ่มสินค้า</h4><br>
				
				<form method="POST">
					{% csrf_token %}
					{{ form | crispy}}
					<input type="submit" value="เพิ่มสินค้า" class="btn btn-success btn-block ">
				</form>

			</div>
			
		</div>


		<div class="col-sm-8 p-3">
			<div class="card border">
				<table class="table table-striped">      
					<thead class="bg-dark text-light">
						<tr>
							<th>รายการสินค้า</th>
							<th>หมวดหมู่</th>
							<th>ซีเรียลอุปกรณ์</th>
							<th>ผู้รับผิดชอบ</th>        
							<th>วันที่</th>
							<th><i class='far fa-edit' style='font-size:20px'></i>แก้ใข</th>
						</tr>
					</thead>
					
					<tbody>
						{% for item in notebook %}
						<tr>

							<td> {{ item.name }} </td>
							<td> {{ item.category }} </td>
							<td> {{ item.serial }} </td>
							<td> {{ item.username.first_name}} </td>
							<td> {{ item.date}} </td>
							<td><i class='far fa-edit btn btn-warning btn-block text-light' style='font-size:20px'> </i></td>
		
						</tr>
						{% endfor %}
					</tbody>          
				</table>
				</div>
			</div>
			
		</div>
	</div>
	
	
</div>
	
{% endblock content %}