{% extends 'base/layout.html'%}
{% block title %} Add Stock Page {% endblock title%}
{% load crispy_forms_tags %}

{% block content%}
<div class="container-fluid">
    <div class="row bg-dark">

      <div class="col-md-2 p-3">
      <a href='/stock'>
        <div class="card border-success">
          <div class="card-body">
            <h4 class="card-title"><i class="fa-solid fa-list"></i></h4>
            <p class="card-text">คลังสินค้าทั้งหมด</p>
          </div>
        </div>
      </a>
        
      </div>

      <div class="col-md-2 p-3 ">
		<a href="{% url 'add-notebook'%}">
			<div class="card border-success">
			<div class="card-body">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i></h4>
				<p class="card-text">โน๊ตบุ๊ก</p>              
			</div>
			</div>
		</a>
      </div>

	  <div class="col-md-2 p-3 ">
		<a href="{% url 'add-cable'%}">
			<div class="card border-success">
			<div class="card-body">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i></h4>
				<p class="card-text">สายสัญญาณ</p>              
			</div>
			</div>
		</a>
      </div>



	  <div class="col-md-2 p-3 ">
		<a href="{% url 'add-notebook'%}">
			<div class="card border-success">
			<div class="card-body">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i></h4>
				<p class="card-text">อุปกรณ์เบ็ตเตล็ด</p>              
			</div>
			</div>
		</a>
      </div>

    </div>


	


</div>



{% endblock content%}

