
<div class="card bg-dark text-dark">

  <div class="container-fluid">
    <div class="row bg-dark">

      <div class="col-md-2 p-2">
      <a href='/stock'>
        <div class="card border-success">
          <div class="card-body bg-success text-light">
            <h4 class="card-title"><i class="fa-solid fa-list"></i>{{item_count_all}}</h4>
            <p class="card-text">คลังสินค้า</p>
          </div>
        </div>
      </a>
      </div>

      <div class="col-md-2 p-2 ">
		<a href="#">
			<div class="card border-success">
			<div class="card-body bg-secondary text-light">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i>{{item_count_computer}}</h4>
				<p class="card-text">หมวดหมู่คอมพิวเตอร์</p>              
			</div>
			</div>
		</a>
      </div>

	  <div class="col-md-2 p-2 ">
		<a href="#">
			<div class="card border-success">
			<div class="card-body bg-secondary text-light">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i>{{item_count_cable}}</h4>
				<p class="card-text">หมวดหมู่สายสัญญาณ</p>              
			</div>
			</div>
		</a>
      </div>



	  <div class="col-md-2 p-2 ">
		<a href="#">
			<div class="card border-success">
			<div class="card-body bg-secondary text-light">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i>{{item_count_office}}</h4>
				<p class="card-text">หมวดหมู่อุปกรณ์ออฟฟิต</p>              
			</div>
			</div>
		</a>
      </div>

	  <div class="col-md-2 p-2 ">
		<a href="#">
			<div class="card border-success">
			<div class="card-body bg-secondary text-light">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i>{{item_count_telephone}}</h4>
				<p class="card-text">หมวดหมู่อุปกรณ์ออฟฟิต</p>              
			</div>
			</div>
		</a>
      </div>

    </div>
  </div>
</div>
    
