
<div class="card bg-dark text-dark">

  <div class="container-fluid">
    <div class="row bg-dark">

      <div class="col-md-2 p-3">
      <a href='/stock'>
        <div class="card border-success">
          <div class="card-body bg-secondary text-light">
            <h4 class="card-title"><i class="fa-solid fa-list"></i></h4>
            <p class="card-text">คลังสินค้า</p>
          </div>
        </div>
      </a>
        
      </div>

      <div class="col-md-2 p-3 ">
		<a href="{% url 'add-notebook'%}">
			<div class="card border-success">
			<div class="card-body bg-warning text-light">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i></h4>
				<p class="card-text">โน๊ตบุ๊ก</p>              
			</div>
			</div>
		</a>
      </div>

	  <div class="col-md-2 p-3 ">
		<a href="{% url 'add-cable'%}">
			<div class="card border-success">
			<div class="card-body bg-success text-light">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i></h4>
				<p class="card-text">สายสัญญาณ</p>              
			</div>
			</div>
		</a>
      </div>



	  <div class="col-md-2 p-3 ">
		<a href="{% url 'add-notebook'%}">
			<div class="card border-success">
			<div class="card-body bg-danger text-light">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i></h4>
				<p class="card-text">อุปกรณ์เบ็ตเตล็ด</p>              
			</div>
			</div>
		</a>
      </div>

    </div>
  </div>
</div>
    
