
<div class="card bg-dark text-dark">

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-2 p-3">
      <a href='/stock'>
        <div class="card border-success">
          <div class="card-body">
            <h4 class="card-title"><i class="fa-solid fa-list"></i></h4>
            <p class="card-text">คลังสินค้าทั้งหมด</p>
          </div>
        </div>
      </a>
        
      </div>

      <div class="col-md-2 p-3 ">
      <a href="/stock/add_stock">
        <div class="card border-success">
          <div class="card-body">
            <h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i></h4>
            <p class="card-text">เบิกสินค้า</p>              
          </div>
        </div>
      </a>
      </div>

      <div class="col-md-2 p-3">
      <a href="/stock/add_Category">
        <div class="card border-success">
          <div class="card-body">
            <h4 class="card-title">ยังไม่มี</h4>
            <p class="card-text">ยังไม่มีเมนูนี้</p>
          </div>
        </div>
      </a>
        
      </div>
  
      
      <div class="col-md-2 p-3">
        <a href="/stock/add_Item/">
        <div class="card border-success">
          <div class="card-body">
            <h4 class="card-title">ยังไม่มี</h4>
            <p class="card-text">ยังไม่มีเมนูนี้</p>
          </div>
        </div>
      </a>
        
      </div>

    </div>
  </div>
</div>
    
