{% extends 'base/layout.html' %}
{% load crispy_forms_tags %}
{% block title %} Stock Page {% endblock title%}

{% block content%}

<div class="container-fluid">

	<div class="row bg-dark ">
	
		<div class="col-md-2 p-3">
			<a href='/stock'>
				<div class="card border-success">
					<div class="card-body ">
					<h4 class="card-title"><i class="fa-solid fa-list"></i></h4>
					<p class="card-text">คลังสินค้าทั้งหมด</p>
					</div>
				</div>
			</a>
		  
		</div>

		<div class="col-md-2 p-3 ">
			<a href="{% url 'add-stock'%}">
			<div class="card border-info">
				<div class="card-body bg-info text-light">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i></h4>
				<p class="card-text">เพิ่มสินค้าเข้าคลัง</p>              
				</div>
			</div>
			</a>
		</div>

		<div class="col-md-2 p-3 ">
			<a href="add_Category">
			<div class="card border-primary">
				<div class="card-body bg-primary text-light">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i></h4>
				<p class="card-text">เพิ่ม/จัดการหมวดหมู่</p>              
				</div>
			</div>
			</a>
		</div>

		<div class="col-md-2 p-3 ">
			<a href="#">
			<div class="card border-success ">
				<div class="card-body bg-success text-light">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i></h4>
				<p class="card-text">เบิกสินค้า</p>              
				</div>
			</div>
			</a>
		</div>
  
	</div>

	<div class="row bg-secondary mt-3">
		<div class="col-md-2 p-3 ">
			<a href="{% url 'add-notebook'%}">
				<div class="card border-success">
					<div class="card-body">
						<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i></h4>
						<p class="card-text">โน๊ตบุ๊ก</p>              
					</div>
				</div>
			</a>
		  </div>
	
		  <div class="col-md-2 p-3 ">
			<a href="{% url 'add-cable'%}">
				<div class="card border-success">
				<div class="card-body">
					<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i></h4>
					<p class="card-text">สายสัญญาณ</p>              
				</div>
				</div>
			</a>
		  </div>
	
	
	
		  <div class="col-md-2 p-3 ">
			<a href="{% url 'add-notebook'%}">
				<div class="card border-success">
				<div class="card-body">
					<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i></h4>
					<p class="card-text">อุปกรณ์เบ็ตเตล็ด</p>              
				</div>
				</div>
			</a>
		  </div>
	</div>

	<div class="row mt-3">
		<table class="table table-striped">      
			<thead class="bg-dark text-light">
				<tr>
					<th>รูปภาพหลักฐานการเบิก</th>
					<th>สินค้า</th>
					<th>จำนวน</th>
					<th>ผู้รับผิดชอบ</th>        
					<th>วันที่</th>
					<th><i class='far fa-edit' style='font-size:20px'></i>อัพเดท</th>
				</tr>
			</thead>
			
			<tbody>

				<tr>
					<td>.</td>
					<td>.</td>
					<td>.</td>
					<td>.</td>
					<td>.</td>
					<td>.</td>

				</tr>

			</tbody>          
		</table>
	</div>

</div>
	
{% endblock content %}
