{% extends 'base/layout.html' %}
{% block title%} Profile User {% endblock title %}
{% load crispy_forms_tags %}


{% block content %}


<div class="container-fluid">
	<div class="row ">
		<div class="col-md-3 ">
			<div class="card border">
			  <img class="card-img-top" src="{{ profile.image.url}}" alt="">

			</div>
		
			
		</div>
		<div class="col-md-8">
			<div class="border p-3 bg-dark text-light ">
				<div class="card bg-success ">
					<div class="card-body text-center">
					  <h4 class="card-text"> อัพเดท/แก้ใข ข้อมูลพนักงาน </h4>
					</div>
				</div>
				<hr>
				
				<form method="post" enctype="multipart/form-data" >
					{% csrf_token %}
					
					<div class="row">
						<div class="col-md-6">
							{{ form.name|as_crispy_field}}
						</div>
						<div class="col-md-6">
							{{ form.serial|as_crispy_field}}
						</div>
						<div class="col-md-6">
							{{ form.quatity|as_crispy_field}}
						</div>
						<div class="col-md-6">
							{{ form.category|as_crispy_field}}
						</div>
						<div class="col-md-6">
							{{ form.user_account|as_crispy_field}}
						</div>
						<div class="col-md-12">
							{{ form.detail|as_crispy_field}}
						</div>	
					</div>
					

					<button type="submit" class="btn btn-success btn-block text-light">อัพเดท</button>

					
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}



