{% extends 'backend/layout.html' %}


{% block title %}

<title>Add user</title>

{% endblock title %}


{% block c0 %}

<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
      <h1>เพิ่มรายชื่อพนักงาน</h1>
    </div>
</div>
  
{% endblock c0%}



{% block c01%}

<div class="container-fluid" style="margin-top: 15px;">
    <form method="POST">
      {% csrf_token %}      
        <div class="row">
         
          <div class="col-sm-8 ">

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">รหัสพนักงาน</span>
                  </div>
                  <input type="text" class="form-control">
                </div>

             
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">ชื่อพนักงาน</span>
                  </div>
                  <input type="text" class="form-control">
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">รหัสผ่าน</span>
                  </div>
                  <input type="password" class="form-control">
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">รหัสผ่าน</span>
                  </div>
                  <input type="Re-password" class="form-control">
                </div>

               
              
            </form>
          </div>

          </div>
{% endblock c01 %}



