{% extends 'base/layout.html' %}


{% block content %}
<div class="row bg-dark">

	
		
  <div class="col-md-2 p-2">
    <a href="/register">
      <div class="card border-success bg-danger text-light">
        <div class="card-body">
          <h4 class="card-title"><i class="fa-solid fa-bars"></i></h4>
          <p class="card-text">สร้างรหัสใช้งาน</p>
        </div>
      </div>
    </a>
    
  </div>

  
  <div class="col-md-2 p-2">
    <a href="{%url 'add-position'%}">
    <div class="card border-success bg-success text-light">
      <div class="card-body">
        <h4 class="card-title"><i class="fa-solid fa-bars"></i></h4>
        <p class="card-text">เพิ่มแผนก</p>
      </div>
    </div>
    </a>
  </div>

  <div class="col-md-2 p-2">
    <a href="{%url 'add-skill'%}">
      <div class="card border-success bg-warning text-light">
        <div class="card-body">
          <h4 class="card-title"><i class="fa-solid fa-bars"></i></h4>
          <p class="card-text">เพิ่มทักษะการทำงาน</p>
        </div>
      </div>
    </a>
    
  </div>


  <div class="col-md-2 p-2">
    <a href="{% url 'add-team' %}">
      <div class="card border-success bg-primary text-light">
        <div class="card-body">
          <h4 class="card-title"><i class="fa-solid fa-bars"></i></h4>
          <p class="card-text">เพิ่มทีม</p>
        </div>
      </div>
      </a>
    
  </div>

  <div class="col-md-2 p-2">
    <a href="/user/">
      <div class="card border-success bg-success text-light">
        <div class="card-body">
          <h4 class="card-title"><i class="fa-solid fa-bars"></i></h4>
          <p class="card-text">ผู้ใช้งานระบบทั้งหมด</p>
        </div>
      </div>
    </a>
    
  </div>
    
  </div>

</div>

<div class="row">
    {% for team in teams %}
    <div class="col-sm-3 col-md-6 col-lg-4">
        <div class="card bg-dark text-white">
            <div class="card-body">

                <div class="row">

                    <div class="col-sm-3 col-md-6 col-lg-4">
                        <img src="{{team.image.url}}" class="mx-auto d-block" width="150" height="150" alt="...">  
                    </div>
                    <div class="col-sm-9 col-md-6 col-lg-8">
                      
                      <p>สมาชิกสมัครใหม่ :{{ team. }} เดือน</p>
                      <p>สมาชิกเติมเงิน : {{ team.detail }} เดือน</p>
                      <p>ยอดขาย: {{ team }}</p>
                      <p>ยอดกำไร : {{ team.detail }} เดือน</p>
                      <p>ยอดขาดทุน : {{ team.detail }} เดือน</p>

                    </div>
                  </div>
            </div>
          </div>
        <br>
    </div>
    {% endfor %}

    
    
</div>



{% endblock content %}