{% extends 'html_login/base.html'%}
{% block title %} Add Dashboard Page {% endblock title%}
{% load crispy_forms_tags %}


{% block content%}
<div class="container">
  <div class="row mt-5">
      <div class="col-md-5 mt-6">
          <div class="card border offset-md">
            <img class="card-img-top" src="holder.js/100px180/" alt="">
            <div class="card-body">
              <h4 class="card-title">ผลงานประจำวัน</h4>

              <form action="" method="post">
                  {% csrf_token %}
                  {{ form |crispy }}
                  <input type="submit" value="+ เพิ่ม" class="btn btn-success btn-block ">
              </form>
              
            </div>
          </div>
          
      </div>
  </div>
</div>
{% endblock content %}
