<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>
	{% include 'base/navbar.html'%}
<div class="container-fluid mt-2">
	<div class="row text-center">
		<div class="col-md-3">
			<div class="card border-primary bg-warning">
			  <div class="card-body">
				<h4 class="card-title"style="font-size:50px;" ><i class="fas fa-otter"></i>  SEO Team  </h4><br>
				<p class="card-text"> ผลรวมประจำเดือน <br>สลาก 25,000 | Duckbet 100 | 7RX7 20 </p>
			  </div>
			</div>
			
		</div>

		<div class="col-md-6">
			<div class="card border-primary bg-success">
			  <div class="card-body">
				<h4 class="card-title"style="font-size:70px;" ><i class="fas fa-hippo"></i></i> Ads Team  </h4>
				<p class="card-text"> ผลรวมประจำเดือน <br>สลาก 25,000 | Duckbet 100 | 7RX7 20 </p>
			  </div>
			</div>
			
		</div>

		<div class="col-md-3">
			<div class="card border-primary bg-danger">
			  <div class="card-body">
				<h4 class="card-title"style="font-size:50px;" ><i class="fas fa-cat"></i> Live Team  </h4><br>
				<p class="card-text"> ผลรวมประจำเดือน <br>สลาก 25,000 | Duckbet 100 | 7RX7 20 </p>
			  </div>
			</div>
			
		</div>
	</div>

	<div class="row mt-2">
		<div class="col-md-4">
			<div class="card border-primary">
			  <div class="card-body bg-dark text-light">
				<h4 class="card-title">Live Team</h4>
				<p class="card-text">จำนวนสมาชิก 8/10 มาทำงาน 8 คน ขาดลา 2 คน</p>

				<table class="table table-dark table-hover">
					<thead>
					  <tr>
						<th>Product</th>
						<th>ผู้สมัคร</th>
						<th>เติมเงิน</th>
						<th>จำนวนรวม</th>
						<th>สถานะ</th>
					  </tr>
					</thead>

					<tbody>
					  <tr>
						<td> 7RX7 </td>
						<td> 80 </td>
						<td> 30 </td>
						<td> 100 </td>
						<td> <span class="badge badge-success">Success</span> </td>
					  </tr>

					  <tr>
						<td> duckbet </td>
						<td> 80 </td>
						<td> 30 </td>
						<td> 100 </td>
						<td> <span class="badge badge-success">Success</span> </td>
					  </tr>

					  <tr>
						<td> สลากไทบ้าน </td>
						<td> 80 </td>
						<td> 30 </td>
						<td> 100 </td>
						<td> <span class="badge badge-success">Success</span> </td>
					  </tr>

					</tbody>
				  </table>
			  </div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card border-primary">
			  <div class="card-body bg-dark text-light">
				<h4 class="card-title">Ads Team</h4>
				<p class="card-text">จำนวนสมาชิก 8/10 มาทำงาน 8 คน ขาดลา 2 คน</p>

				<table class="table table-dark table-hover">
					<thead>
					  <tr>
						<th>Product</th>
						<th>ผู้สมัคร</th>
						<th>เติมเงิน</th>
						<th>จำนวนรวม</th>
						<th>สถานะ</th>
					  </tr>
					</thead>

					<tbody>
					  <tr>
						<td> 7RX7 </td>
						<td> 80 </td>
						<td> 30 </td>
						<td> 100 </td>
						<td> <span class="badge badge-success">Success</span> </td>
					  </tr>

					  <tr>
						<td> duckbet </td>
						<td> 80 </td>
						<td> 30 </td>
						<td> 100 </td>
						<td> <span class="badge badge-success">Success</span> </td>
					  </tr>

					  <tr>
						<td> สลากไทบ้าน </td>
						<td> 80 </td>
						<td> 30 </td>
						<td> 100 </td>
						<td> <span class="badge badge-success">Success</span> </td>
					  </tr>

					</tbody>
				  </table>
			  </div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card border-primary">
			  <div class="card-body bg-dark text-light">
				<h4 class="card-title">SEO Team</h4>
				<p class="card-text">จำนวนสมาชิก 8/10 มาทำงาน 8 คน ขาดลา 2 คน</p>

				<table class="table table-dark table-hover">
					<thead>
					  <tr>
						<th>Product</th>
						<th>ผู้สมัคร</th>
						<th>เติมเงิน</th>
						<th>จำนวนรวม</th>
						<th>สถานะ</th>
					  </tr>
					</thead>

					<tbody>
					  <tr>
						<td> 7RX7 </td>
						<td> 80 </td>
						<td> 30 </td>
						<td> 100 </td>
						<td> <span class="badge badge-success">Success</span> </td>
					  </tr>

					  <tr>
						<td> duckbet </td>
						<td> 80 </td>
						<td> 30 </td>
						<td> 100 </td>
						<td> <span class="badge badge-success">Success</span> </td>
					  </tr>

					  <tr>
						<td> สลากไทบ้าน </td>
						<td> 80 </td>
						<td> 30 </td>
						<td> 100 </td>
						<td> <span class="badge badge-success">Success</span> </td>
					  </tr>

					</tbody>
				  </table>
			  </div>
			</div>
		</div>

	</div>
	
	<div class="row mt-2">
		<div class="col-md-4 mt-1">
			<div class="card-body bg-dark ">
				<h4 class="card-title text-center text-light">สลากไทบ้าน 5 อันดับนักปิดการขาย </h4>

				<table class="table table-dark table-hover">
					<thead>
					  <tr>
						<th>พนักงาน</th>
						<th>ปิดการขาย</th>
						<th>จำนวน</th>
						<th>สถานะ</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
						<td> <span class="badge badge-warning">รอยืนยัน</span> </td>
					  </tr>

					  <tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
						<td> <span class="badge badge-warning">รอยืนยัน</span> </td>
					  </tr>
					  <tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
						<td> <span class="badge badge-warning">รอยืนยัน</span> </td>
					  </tr>
					  <tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
						<td> <span class="badge badge-warning">รอยืนยัน</span> </td>
					  </tr>
					  <tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
						<td> <span class="badge badge-warning">รอยืนยัน</span> </td>
					  </tr>

					</tbody>
				  </table>
			</div>
		</div>

		<div class="col-md-4 mt-1">
			<div class="card-body bg-dark ">
				<h4 class="card-title text-center text-light">7RX7 5 อันดับนักปิดการขาย </h4>

				<table class="table table-dark table-hover">
					<thead>
					  <tr>
						<th>พนักงาน</th>
						<th>ปิดการขาย</th>
						<th>จำนวน</th>
						<th>สถานะ</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
						<td> <span class="badge badge-warning">รอยืนยัน</span> </td>
					  </tr>

					  <tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
						<td> <span class="badge badge-warning">รอยืนยัน</span> </td>
					  </tr>
					  <tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
						<td> <span class="badge badge-warning">รอยืนยัน</span> </td>
					  </tr>
					  <tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
						<td> <span class="badge badge-warning">รอยืนยัน</span> </td>
					  </tr>
					  <tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
						<td> <span class="badge badge-warning">รอยืนยัน</span> </td>
					  </tr>

					</tbody>
				  </table>
			</div>
		</div>

		<div class="col-md-4 mt-1">
			<div class="card-body bg-dark ">
				<h4 class="card-title text-center text-light">Duckbet 5 อันดับนักปิดการขาย </h4>

				<table class="table table-dark table-hover">
					<thead>
					  <tr>
						<th>พนักงาน</th>
						<th>ปิดการขาย</th>
						<th>จำนวน</th>
						<th>สถานะ</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
						<td> <span class="badge badge-warning">รอยืนยัน</span> </td>
					  </tr>

					  <tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
						<td> <span class="badge badge-warning">รอยืนยัน</span> </td>
					  </tr>
					  <tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
						<td> <span class="badge badge-warning">รอยืนยัน</span> </td>
					  </tr>
					  <tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
						<td> <span class="badge badge-warning">รอยืนยัน</span> </td>
					  </tr>
					  <tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
						<td> <span class="badge badge-warning">รอยืนยัน</span> </td>
					  </tr>

					</tbody>
				  </table>
			</div>
		</div>

	</div>
</div>
</body>
</html>