{% extends 'backend/layout.html' %}

{% block c01%}
{% load humanize %}
<div class="row">


  <div class="col-sm-12" >
    
    <table class="table table-striped ">
  
      <thead class='bg-dark text-light'>
        <tr>
          <th> ชื่อลูกค้า </th>
          <th> เบอร์โทรลูกค้า </th>
          <th> ไอดีไลน์ </th>
          <th> ความสนใจ </th>
          <th> จำนวนครั้งการซื้อ </th>
          <th> อายุ </th>                       
          <th> เพศ  </th>
          <th> สถานะ  </th>
          <th> ตรวจเช็ค  </th>            

        </tr>
      </thead>
      
      <tbody>
        
        <tr>
          <td> . </td>            
          <td> . </td>
          <td> .</td>
          <td> . </td>
          <th> . </th>
          <th> . </th>
          <th> . </th>
          <th> <span class="badge badge-success">Success</span> </th>
          <th> <i class="material-icons" style="font-size:36px">visibility</i> </th>             


         </tr>

      </tbody>
      
  </table>
    
  </div>
{% endblock c01%}
