{% extends 'backend/layout.html' %}

{% block c01%}
{% load humanize %}

<from moethod = "POST">
  {% csrf_token %}
<div class="row">


    <div class="col-sm-12" >
      
      <table class="table table-striped ">
    
        <thead class='bg-dark text-light'>
          <tr>
            <th> Views </th>
            <th> รหัส </th>
            <th> รูปถ่าย </th>
            <th> ชื่อ - นามสกุล </th>
            <th> ชื่อเล่น  </th>
            <th> ตำแหน่ง </th> 
            <th> สังกัดทีม </th>
            <th> เงินเดือน </th>                                  
            <th> วันทำงาน  </th>            
            <th> OT </th>
            <th> โบนัส </th>
            <th> มาสาย </th>
            <th> ป่วย </th>
            <th> ลา </th>
            <th> ขาด </th>            
            <th> เบิกล่วงหน้า </th>
            <th> ค่าเดินทาง </th>
            <th> ค่าที่พัก </th>
            <th> ค่าอาหาร </th>
            
                   
    
          </tr>
        </thead>
        
        <tbody>
          {% for person in users %}
          <tr>
            <th> <a href = "profile/{{ person.id_user}}"><i class='fas fa-align-justify' style='font-size:24px'></i></a> </th>
            <td>{{ person.id_user}}</td>            
            <td> <img src="{{ person.image.url }}"  width="30" height="30" alt="..."></td>
            <td> {{ person.username }}</td>
            <td> {{ person.nickname }} </td>
            <th> {{ person.position }} </th>
            <th> {{ person.team}} </th>
            <th> {{ person.sorary}} </th>            
            <th> {{ person.dayofwork}} </th>            
            <th> {{ person.ot}}  </th>
            <th> {{ person.bonus}} </th>
            <th> {{ person.worklate}} </th>
            <th> {{ person.sick}} </th>
            <th> {{ person.la}} </th>
            <th> {{ person.leave}} </th>

            <th> {{ person.money_advance}} </th>
            <th> {{ person.money_food }} </th>
            <th> {{ person.money_home }}  </th>
            <th> {{ person.money_traff }}  </th>            
            

           </tr>
          {% endfor %}
        </tbody>
        
    </table>
      
    </div>


{% endblock c01%}