{% extends 'base/layout_nonav.html'%}
{% block title %} Register Page {% endblock title%}
{% load crispy_forms_tags %}


{%block content %}
	<div class="container">
		<div class="row ">
			<div class="col-md-10 ">
				<div class="border p-3">
					<div class="card bg-dark text-light">
						<div class="card-body text-center">
						  <h4 class="card-text"> สร้างรหัสใช้งาน </h4>
						</div>
					</div>
					
					<hr>
					<form action="" method="post">
						{% csrf_token %}
						{{ form |crispy }}
						<hr>
						<input type="submit" value="สร้างรหัสใช้งาน" class="btn btn-success btn-block ">
						
					</form>
				</div>
			</div>
		</div>
	</div>
{%endblock content %}
