{% extends 'base/layout.html'%}
{% block title%} Add Profile Page {% endblock title%}
{% load crispy_forms_tags %}


{% block content%}
<div class="container-fluid">

	<div class="row bg-dark">

	
		
		<div class="col-md-2 p-2">
			<a href="/register">
				<div class="card border-success bg-danger text-light">
					<div class="card-body">
						<h4 class="card-title"><i class="fa-solid fa-bars"></i></h4>
						<p class="card-text">สร้างรหัสใช้งาน</p>
					</div>
				</div>
			</a>
		  
		</div>
	
		
		<div class="col-md-2 p-2">
		  <a href="{%url 'add-position'%}">
			<div class="card border-success bg-success text-light">
				<div class="card-body">
					<h4 class="card-title"><i class="fa-solid fa-bars"></i></h4>
					<p class="card-text">เพิ่มแผนก</p>
				</div>
			</div>
			</a>
		</div>
	
		<div class="col-md-2 p-2">
			<a href="{%url 'add-skill'%}">
				<div class="card border-success bg-warning text-light">
					<div class="card-body">
						<h4 class="card-title"><i class="fa-solid fa-bars"></i></h4>
						<p class="card-text">เพิ่มทักษะการทำงาน</p>
					</div>
				</div>
			</a>
			
		</div>

	
		<div class="col-md-2 p-2">
			<a href="{% url 'add-team' %}">
				<div class="card border-success bg-primary text-light">
					<div class="card-body">
						<h4 class="card-title"><i class="fa-solid fa-bars"></i></h4>
						<p class="card-text">เพิ่มทีม</p>
					</div>
				</div>
			  </a>
			
		</div>
	
		<div class="col-md-2 p-2">
			<a href="/user/">
				<div class="card border-success bg-success text-light">
					<div class="card-body">
						<h4 class="card-title"><i class="fa-solid fa-bars"></i></h4>
						<p class="card-text">ผู้ใช้งานระบบทั้งหมด</p>
					</div>
				</div>
			</a>
		  
		</div>
		  
		</div>

	</div>

	<div class="row mt-1">
		
		<div class="col-md-6 ">
			<div class="card-border bg-dark text-light p-2">
				<form action="" method="post">
					{% csrf_token %}
					{{ form |crispy }}

					<input type="submit" value=" + เพิ่มตำแหน่งงาน" class="btn btn-success btn-block ">
					
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card border">

				<table class="table table-striped">      
					<thead class="bg-dark text-light">
						<tr>
							<th>สัญญาลักษณ์</th>
							<th>ชื่อทีม</th>
							<th>แก้ใข</th>
						</tr>
					</thead>
					
					<tbody>
						{% for team in team %}
						<tr>
							<td> <img src="{{ team.image.url}}" width="50" height="50" alt=""></td>
							<td> {{ team.name }} </td>
							<td><a href="{% url 'add-team' %}"><i class='far fa-edit' style='font-size:20px'></i></a></td>

						</tr>
						{% endfor %}
					</tbody>          
				</table>

			</div>
			
		</div>

	</div>
</div>
{% endblock content %}


