{% extends 'base/layout.html' %}


{% block content %}

<form method="POST">
	{% csrf_token %}

	<h1 class="text-center mt-2">User Profile </h1><br>
<div class="row">

	<div class="col-md-4">
		<div class="container">
			<h2>Rounded Corners</h2>
			<p>The .rounded class adds rounded corners to an image:</p>            
			<img src="cinqueterre.jpg" class="rounded" alt="Cinque Terre" width="304" height="236"> 
		</div>
		
	</div>


	<div class="col-md-4">
		<div class="container" >

		
				<div class="form-group">
					<label for="id_user">รหัสพนักงาน</label>
					<input type="text" class="form-control" id="id_user" placeholder="user_id">
				</div>
		
				<div class="form-group">
					<label for="username">ชื่อจริง</label>
					<input type="text" class="form-control" id="username" placeholder="username">
				</div>

				<div class="form-group">
					<label for="lastname">นามสกุล</label>
					<input type="text" class="form-control" id="lastname" placeholder="lastname">
				</div>

				<div class="form-group">
					<label for="nickname">ชื่อเล่น</label>
					<input type="text" class="form-control" id="nickname" placeholder="nickname">
				</div>

				<div class="form-group">
					<label for="email">อีเมลล์</label>
					<input type="email" class="form-control" id="email" placeholder="email">
				</div>

				<div class="form-group">
					<label for="address">ที่อยู่</label>
					<input type="text" class="form-control" id="address" placeholder="address">
				</div>


		</div>
	</div>



	<div class="col-md-4">
		<div class="form-group">
			<label for="num_phone">เบอร์โทรศัพท์</label>
			<input type="text" class="form-control" id="num_phone" placeholder="num_phone">
		</div>

		<div class="form-group">
			<label for="position">position</label>
			<input type="text" class="form-control" id="position" placeholder="position">
		</div>

		<div class="form-group">
			<label for="worked">ประวัติการทำงาน</label>
			<input type="text" class="form-control" id="worked" placeholder="worked">
		</div>

		<div class="form-group">
			<label for="talen">ความสามารถพิเศษ</label>
			<input type="text" class="form-control" id="taten" placeholder="talen">
		</div>

		<div class="form-group">
			<label for="photo">ภาพโปรไฟล์</label>
			<input type="file" class="form-control-file" id="photo">
		</div>

	 
		


	</div>
	
</div>


</form>





{% endblock content %}



