{% extends 'base/layout.html'%}
{% block title%} Add Skill Page {% endblock title%}
{% load crispy_forms_tags %}


{% block content %}

<div class="container-fluid">
	{% include 'html_user/navbar_user.html'%}

	<div class="row">
		<div class="col-md-12 mt-1">
			<div class="card border">
				
			  <div class="card-body bg-dark text-light">
				<h4>ค้นหาข้อมูล</h4>
				<form method="GET" action="#">
				{% csrf_token %}
				{{ filter }}
					<button type="submit" class="btn btn-primary">ค้นหาข้อมูล</button>
					<a  class="btn btn-secondary " href="{%url 'add-skill'%}"> Refrest </a>
					
				</form>
			  </div>
			</div>

		</div>
	</div>

	<div class="row mt-1">
		
		<div class="col-md-4">
			
			<div class="card-border  bg-dark text-light p-3">
				<h4>เพิ่มข้อมูล</h4>
				<form action="" method="post">
					{% csrf_token %}
					{{ form |crispy }}

					<input type="submit" value=" + เพิ่มตำแหน่งงาน" class="btn btn-success">
					
				</form>
			</div>
		</div>

		<div class="col-md-8">
			<div class="card border">

				<table class="table table-striped">      
					<thead class="bg-dark text-light">
						<tr>
							<th>ทักษะทำงาน</th>
							<th><i class='far fa-edit' style='font-size:20px'></i>แก้ใข</th>

						</tr>
					</thead>
					
					<tbody>
						{% for skill in skill %}
						<tr>

							<td> {{ skill.name }} </td>
							
							<td>
								<a href="{% url 'update-skill' skill.id %}" ><i class='far fa-eye' style='font-size:24px'></i></a>
								<a href="{% url 'delete-skill' skill.id %}" ><i class='fa-solid fa-trash-can' style='font-size:24px'></i></a>

							</td>
						</tr>
						{% endfor %}
					</tbody>          
				</table>

			</div>
			
		</div>

	</div>
</div>
{% endblock content %}