<div class="container-fluid">
	
	<div class="row bg-dark">

		<div class="col-md-2 p-2 ">
			<a href="/user/hr">
			<div class="card border-success">
				<div class="card-body">
					<h4 class="card-title"><i class="fa-solid fa-bars"></i></h4>
					<p class="card-text">ตำแหน่งฝ่ายบุคคล(HR)</p>              
				</div>
			</div>
			</a>
		</div>
	
		<div class="col-md-2 p-2">
			<a href="/user/at">
			<div class="card border-success">
				<div class="card-body">
					<h4 class="card-title"><i class="fa-solid fa-bars"></i></h4>
					<p class="card-text">การเงินบัญชี(AT)</p>
				</div>
			</div>
			</a>
		  
		</div>
	
		
		<div class="col-md-2 p-2">
		  <a href="{%url 'mt'%}">
			<div class="card border-success">
				<div class="card-body">
					<h4 class="card-title"><i class="fa-solid fa-bars"></i></h4>
					<p class="card-text">การตลาด (Marketting) </p>
				</div>
			</div>
			</a>
		</div>
	
		<div class="col-md-2 p-2">
			<a href="{%url 'st'%}">
				<div class="card border-success">
					<div class="card-body">
						<h4 class="card-title"><i class="fa-solid fa-bars"></i></h4>
						<p class="card-text">สต๊อกสินค้า(Stock)</p>
					</div>
				</div>
			</a>
			
		</div>
	
		<div class="col-md-2 p-2">
			<a href="{%url 'ad'%}">
				<div class="card border-success">
					<div class="card-body">
						<h4 class="card-title"><i class="fa-solid fa-bars"></i></h4>
						<p class="card-text">ตอบดูแลลูกค้า (admin)</p>
					</div>
				</div>
			  </a>
			
		</div>
	
		<div class="col-md-2 p-2">
			<a href="{% url 'it' %}">
				<div class="card border-success">
					<div class="card-body">
						<h4 class="card-title"><i class="fa-solid fa-bars"></i></h4>
						<p class="card-text">ไอที (IT)</p>
					</div>
				</div>
			  </a>
			
		</div>
	
		<div class="col-md-2 p-2">
			<a href='/user'>
			<div class="card border-success">
				<div class="card-body">
					<h4 class="card-title text-center"><i class="fa-solid fa-users"></i> {{ total }} คน</h4>
					<p class="card-text">รวมพนักงานทั้งหมด</p>
				</div>
			</div>
			</a>
		  
		</div>

		<div class="col-md-2 p-2">
			<a href='/user'>
			<div class="card border-success">
				<div class="card-body">
					<h4 class="card-title text-center"><i class="fa-solid fa-users"></i> {{ total }} คน</h4>
					<p class="card-text">เพิ่ม</p>
				</div>
			</div>
			</a>
		  
		</div>

	</div>
</div>