{% extends 'base/layout.html' %}
{% block title %} Dashboard User {% endblock title %}

{% block content%}
<div class="container-fluid">
	<div class="row bg-dark">
		<div class="col-md-2 p-2">
			<a href="/user/">
				<div class="card border-success bg-success text-light">
					<div class="card-body">
						<h4 class="card-title"><i class="fa-solid fa-bars"></i></h4>
						<p class="card-text">ผู้ใช้งานระบบทั้งหมด</p>
					</div>
				</div>
			</a>
		  
		</div>

	
		<div class="col-md-2 p-2">
			<a href="/register">
				<div class="card border-success bg-info text-light">
					<div class="card-body">
						<h4 class="card-title"><i class="fa-solid fa-bars"></i></h4>
						<p class="card-text">สร้างรหัสใช้งาน</p>
					</div>
				</div>
			</a>
		  
		</div>
	
		
		<div class="col-md-2 p-2">
		  <a href="{%url 'add-position'%}">
			<div class="card border-success bg-success text-light">
				<div class="card-body">
					<h4 class="card-title"><i class="fa-solid fa-bars"></i></h4>
					<p class="card-text">เพิ่มแผนก</p>
				</div>
			</div>
			</a>
		</div>
	
		<div class="col-md-2 p-2">
			<a href="{%url 'add-skill'%}">
				<div class="card border-success bg-warning text-light">
					<div class="card-body">
						<h4 class="card-title"><i class="fa-solid fa-bars"></i></h4>
						<p class="card-text">เพิ่มทักษะการทำงาน</p>
					</div>
				</div>
			</a>
			
		</div>

	
		<div class="col-md-2 p-2">
			<a href="{% url 'add-team' %}">
				<div class="card border-success bg-primary text-light">
					<div class="card-body">
						<h4 class="card-title"><i class="fa-solid fa-bars"></i></h4>
						<p class="card-text">เพิ่มทีม</p>
					</div>
				</div>
			  </a>
			
		</div>
	
		<div class="col-md-2 p-2">
			<a href='/user'>
			<div class="card border-success bg-secondary text-light">
				<div class="card-body">
					<h4 class="card-title "><i class="fa-solid fa-users"></i> {{ total }} คน</h4>
					<p class="card-text">รายงานพนักงาน</p>
				</div>
			</div>
			</a>
		  
		</div>

	</div>


	<div class="row ">
		{% for user in profile %}
		  <div class="col-md-4 ">
				<div class="card mt-3 p-3 bg-dark text-light">
					<div class="row">
	
						<div class="col-md-5">
							<img class="img-fluid" src="{{ user.image.url}}" width="150" height="100" alt="Card image">
						</div>

						<div class="col-md-5">
							<h4 class="card-title">ID : {{ user.username}}</h4>
							<p class="card-text">{{ user.first_name}} {{ user.nickname }}</p>
							  <p class="card-text">ตำแหน่ง :{{ user.position }}</p>
							  <a href="{% url 'profile-update' user.id %}" class="btn btn-success btn-block">โปรไฟล์ผู้ใช้</a>					
						</div>
	
					</div>

				</div>
		  </div>
		{% endfor %}  
	</div>
{% endblock content %}