{% extends 'base/layout.html' %}
{% load crispy_forms_tags %}
{% block title %} Dashboard User {% endblock title %}

{% block content%}
<div class="container-fluid">
	{% include 'html_user/navbar_user.html'%}

	<div class="row mt-1">

		<div class="col-md-12 ">
			<div class="card border">
			  <div class="card-body bg-dark text-light">
				<h4>ค้นหาข้อมูล</h4>
				<form method="GET" action="#">
				{% csrf_token %}
				{{ filter }}
					<button type="submit" class="btn btn-primary">ค้นหาข้อมูล</button>
					<a class="btn btn-secondary " href="/user"> Refrest </a>
					<a class = "btn btn-success"href="{%url 'register'%}"><i class='fas fa-user-plus' style='font-size:24px'></i> เพิ่มพนักงาน </a>
				</form>
			  </div>
			</div>

		</div>

		<div class="col-md-12">

            <div class="card border">
				<table class="table table-striped ">
    
					<thead class="bg-dark text-light">
					  <tr>
						<th> รูปภาพ </th>
						<th> รหัส </th>
						<th> ชื่อ </th>
						<th> ตำแหน่ง </th>
						<th> แผนก </th>        
						<th> ความสามารถ </th>        
						<th> วันเริ่มงาน </th>
						<th> สถานะ </th>
					  </tr>
					</thead>
					
					<tbody>
					  {% for user in user %}
					  <tr>
						<td><img src="{{ user.image.url}}"  width="50" height="50" alt="..."></td>        
						<td> {{ user.username}}</td>
						<td> {{ user.nickname}}</td>
						<td> {{ user.position }}</td> 
						<td> {{ user.team}} </td>
						<td> {{ user.working_skill}} </td>
						<td> {{ user.worked_date}} </td>
						<td>
							
							<a href="{% url 'profile-update' user.pk %}" ><i class='far fa-eye' style='font-size:24px'></i></a>
							<a class="p-2 text-danger" href="{% url 'profile-delete' user.pk %}" ><i class='fa-solid fa-trash-can' style='font-size:24px'></i></a>
						
						</td>

					  </tr>
					  {% endfor %}
					</tbody>
					
				</table>

            </div>

        </div>
	</div>
		<!-- 
		{% for user in profile %}
			<div class="col-md-3 col-md-6 col-lg-4">
				<div class="card bg-dark text-white">
					<div class="card-body">
						
						<div class="row">
							
							<div class="col-md-3 col-md-6 col-lg-4">
								<img src="{{user.image.url}}" class="mx-auto d-block" width="150" height="150" alt="...">  
							</div>
							<div class="col-md-9 col-md-6 col-lg-6">
							  <p>รหัสพนักงาน : {{ user.username }}  </p> 
							  
							  <p>ชื่อในวงการ : {{ user.nickname }} </p>
							  <p>สังกัดทีม : {{ user.team }} </p>
							  <p>ตำแหน่ง : {{ user.position }} </p>
		
							</div>
							<div class="col-md-9 col-md-6 col-lg-1">
								<a href="{% url 'profile-update' user.id %}" ><i class='fas fa-user-cog text-center' style='font-size:20px'></i></a>
							</div>
							
						</div>
						
					</div>
				  </div>
				<br>
			</div>
			{% endfor %}
		-->
		
    </div>
</div>

{% endblock content %}