{% extends 'base/layout.html' %}
{% load crispy_forms_tags %}
{% block title %} Delete User Page {% endblock title%}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-9">
        <div class="card border offset-md-4" >
          <img class="card-img-top" src="{{ profile.image_profile.url}}" alt="">
          <div class="card-body">
            <h4 class="card-title">Delete User {{ profile.nickname }} </h4>
            <p class="card-text">คุณต้องการลบผู้ใช้: {{ profile.username }} ?</p>

            <form method="post">
                {% csrf_token %}
                <button type="submit" class='btn btn-danger btn-block'>Delete</button>
            </form>

          </div>
        </div>
        
    </div>
  </div>
</div>
    



    {% endblock content %}