{% extends 'base/layout.html' %}
{% load crispy_forms_tags %}
{% block title %} Delete User Page {% endblock title%}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <div class="card border">
          
          <div class="card-body">
            <h4 class="card-title">Delete Team </h4>
            <p class="card-text">คุณต้องการลบทีม: {{ team.name }} ?</p>

            <form method="post">
                {% csrf_token %}
                <button type="submit" class='btn btn-danger btn-block'>Delete</button>
            </form>

          </div>
        </div>
        
    </div>
</div>

    {% endblock content %}