<div class="row bg-dark text-center">

    <div class="col-md-2 p-2">
        <a href="/user/">
            <div class="card border-primary bg-success text-light">
                <div class="card-body">
                    <h4 class="card-title">{{ alluser }}</h4>
                    <p class="card-text">ผู้ใช้งานระบบทั้งหมด</p>
                </div>
            </div>
        </a>      
    </div>

    <div class="col-md-2 p-2">
      <a href="#">
        <div class="card border-success bg-secondary text-light">
            <div class="card-body">
                <h4 class="card-title">5</h4>
                <p class="card-text">การตลาด</p>
            </div>
        </div>
        </a>
    </div>

    <div class="col-md-2 p-2">
        <a href="#">
            <div class="card border-success bg-secondary text-light">
                <div class="card-body">
                    <h4 class="card-title">20</h4>
                    <p class="card-text">บัญชี</p>
                </div>
            </div>
        </a>        
    </div>


    <div class="col-md-2 p-2">
        <a href="#">
            <div class="card border-success bg-secondary text-light">
                <div class="card-body">
                    <h4 class="card-title">3</h4>
                    <p class="card-text">สต๊อกสินค้า</p>
                </div>
            </div>
          </a>        
    </div>
    <div class="col-md-2 p-2">
        <a href="#">
            <div class="card border-success bg-secondary text-light">
                <div class="card-body">
                    <h4 class="card-title">1</h4>
                    <p class="card-text">บุคคล</p>
                </div>
            </div>
          </a>        
    </div>
    <div class="col-md-2 p-2">
        <a href="#">
            <div class="card border-success bg-secondary text-light">
                <div class="card-body">
                    <h4 class="card-title">4</h4>
                    <p class="card-text">การเงิน</p>
                </div>
            </div>
          </a>        
    </div>

    <div class="col-md-2 p-2">
        <a href="#">
            <div class="card border-success bg-secondary text-light">
                <div class="card-body">
                    <h4 class="card-title">5</h4>
                    <p class="card-text">กราฟฟิค</p>
                </div>
            </div>
          </a>
    </div>

    
      
    </div>

</div>