{% extends 'base/layout.html' %}
{% block title%} Profile User {% endblock title %}
{% load crispy_forms_tags %}


{% block content %}


<div class="container-fluid">
	<div class="row ">
		<div class="col-md-3">
			<div class="card border">
			  <img class="card-img-top" src="{{ user.image.url}}" alt="">
			  <div class="card-body">
				<h4 class="card-title">{{ user.nickname}}</h4>
				<p class="card-text">{{ user.position }}</p>
			  </div>
			</div>
			
		</div>
		<div class="col-md-9">
			<div class="border p-3">

				<div class="card bg-dark text-light">
					<div class="card-body text-center">
					  <h4 class="card-text"> อัพเดท/แก้ใข ข้อมูลพนักงาน </h4>
					</div>
				</div>
				<hr>
				<form action="" method="post">
					{% csrf_token %}
					{{ form |crispy }}
					<hr>
					<input type="submit" value="Update" class="btn btn-warning btn-block ">
					
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}



