{% extends 'base/layout.html' %}
{% block title%} Profile User {% endblock title %}
{% load crispy_forms_tags %}


{% block content %}

<p> Test: {{ user_profile.username }}</p>

<div class="container-fluid">
	<div class="row ">
		<div class="col-md-3 ">
			<div class="card border">
			  <img class="card-img-top" src="{{ user_profile.profileuser.image.url}}" alt="">
			</div>
		</div>

		<div class="col-md-4">
			<div class="border p-3 bg-dark">
				<div class="card text-light ">
					<div class="card-body text-center">
					  <h4 class="card-text"> อัพเดท/แก้ใข ข้อมูลพนักงาน</h4>
					</div>
				</div>
				<hr>
				
				<form method="post" enctype="multipart/form-data" >
					{% csrf_token %}
					{{ form }}
					<hr>
					<button type="submit" class="btn btn-warning btn-block text-light">อัพเดท</button>
					
					<a href="{% url 'delete_profile' user.username %}"class="btn btn-danger btn-block ">ลบข้อมูลผู้ใช้</a>
					
				</form>
			</div>
		</div>
	</div>
</div>



{% endblock content %}



